ipython
jupyterlab
loguru
matplotlib
mkdocs
notebook
numpy
pandas
pip
pytest
python-dotenv
ruff
scikit-learn
tqdm
typer
rich
ipykernel
ipywidgets
seaborn
pydantic
dvc
mlflow
config-box
python-box
xgboost-cpu
catboost
psycopg2
-e .
